<html>
    <head>
        <title>Hackamon Project</title>
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body>
        <header>
            <nav class="transparent">
                <div class="nav-wrapper">
                        <a href="/"><img class = "brand-logo" src="https://i.imgur.com/ym2KFC1.png"></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                    </li>
                    <li><a href="/">Explore</a></li>
                    <li><a href="/">Profile</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="layer"></div>
        <main>
                
                <div class="container" id="app">
                    <div style="text-align: center; font-family: 'Times New Roman', Times, serif">
                        </br></br>
                        <h1>
                            <i>
                                Change your perspective.
                            </i>
                        </h1>
                    </div>
                    <div class="row">
                        <div v-for="subject in subjects">
                            <subject-card :title="subject.name" cardinfo="Hey" :imgfile="subject.img" :url="subject.url"></subject-card>
                        </div>
                    </div>
                    <div class="row">
                        <div v-for="subject in subjects_1">
                            <subject-card :title="subject.name" cardinfo="Hey" :imgfile="subject.img" :url="subject.url"></subject-card>
                        </div>
                    </div>

                    <div style="text-align: center">
                            <h2>Some other title</h2>
                        <a class="waves-effect waves-light btn-small"><i class="material-icons right">cloud</i>Contribute</a>    
                    </div>
                </div>
        </main>
        </div>
        <footer class="page-footer transparent">
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </body>
    <script src="/js/app.js"></script>
</html>