<html>
    
    <head>
        <title>Hackamon Project</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/unit.css">
    </head>
    <body>
        <header>
            <nav class="transparent">
                <div class="nav-wrapper">
                    <div class="header-container">
                        <a href="/" class="brand-logo">Logo</a>
                    </div>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                        </form>
                    </li>
                    <li><a href="/index.html">Explore</a></li>
                    <li><a href="">Profile</a></li>
                    </ul>
                    
                </div>
            </nav>
        </header>
        <main>
            <div class="container" id="unit">
                <h4 id="subject-header" class="center"><%= subjectHeader %></h4>
                <div>
                    <ul class="collection" v-for="item in units.slice(0,9)" :key="index">
                        <unit-card :title=item.unitcode :subject=item.unitname></unit-card>
                    </ul>
                </div>
                <div class="center header-container">
                    <ul class="pagination">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!">2</a></li>
                        <li class="waves-effect"><a href="#!">3</a></li>
                        <li class="waves-effect"><a href="#!">4</a></li>
                        <li class="waves-effect"><a href="#!">5</a></li>
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>
            </div>
        </main>
        <footer class="page-footer transparent">
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </body>
    <script src="/unit.js"></script>
</html>