body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* background-image: url("assets/background.jpg"); */
    background-color: white;
    color: black;
}

main {
    flex: 1 0 auto;
}
