body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center;  
    transform: scale(1,1);
}

main {
    flex: 1 0 auto;
}

.transparent {
    background-color: rgb(0,109,174) !important;
}
.brand-logo {
    margin-left: 200px;
    width: 320px;
    height: 100px;
    object-fit: contain;
    vertical-align: middle;
}

.title{
    font-weight: bold;
}

.roundcorners{
    border-radius: 25px;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}

.star {
    color: rgb(249, 172, 18);
}

.header-container{
    background-color: white;
}

.text-logo {
    width: 250px;
    height: 250px;
    object-fit: contain;
    vertical-align: middle;
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

  .transparent {
      height: 100px;
  }