iframe{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

ul, .commenting{
    border-style: hidden !important;
}

.img{
    object-fit: fill;
    /* width: 100%; */
}

.ind-vid{
    object-fit: fill;
    box-sizing: border-box;
    width: 100%;
}

.video-container {
    object-fit: cover;
    /* box-shadow: inset 3px 3px 10px 0 white;
    border-radius: 10px; */
}

.small{
    width:25px;
    height:25px;
    object-fit: fill
}

.vid-col{
    max-width: 100%;
}

.frame-container{
    height: 50%;
}


#name{
    margin-left: 15px;
    width: 90%;
}

#commentCheckbox {
    color: black;
}